{{/* vim: set filetype=mustache: */}}
{{/*
Expand the name of the chart.
*/}}
{{- define "gitlab-ce.name" -}}
{{- default .Chart.Name .Values.nameOverride | trunc 63 | trimSuffix "-" -}}
{{- end -}}

{{/*
Create a default fully qualified app name.
We truncate at 63 chars because some Kubernetes name fields are limited to this (by the DNS naming spec).
*/}}
{{- define "gitlab-ce.fullname" -}}
{{- $name := default .Chart.Name .Values.nameOverride -}}
{{- printf "%s-%s" .Release.Name $name | trunc 63 | trimSuffix "-" -}}
{{- end -}}

{{/*
Create a default fully qualified postgresql name.
We truncate at 63 chars because some Kubernetes name fields are limited to this (by the DNS naming spec).
*/}}
{{- define "gitlab-ce.postgresql.fullname" -}}
{{- printf "%s-gitlab-%s" .Release.Name "postgresql" | trunc 63 | trimSuffix "-" -}}
{{- end -}}

{{/*
Create a default fully qualified redis name.
We truncate at 63 chars because some Kubernetes name fields are limited to this (by the DNS naming spec).
*/}}
{{- define "gitlab-ce.redis.fullname" -}}
{{- printf "%s-%s" .Release.Name "redis" | trunc 63 | trimSuffix "-" -}}
{{- end -}}

{{/*
Create db_password
We truncate at 63 chars because some Kubernetes name fields are limited to this (by the DNS naming spec).
{{- define "gitlab-ce.dbPass" -}}
{{- printf "%s" .Values.gitlab-postgresql.postgresPassword | trunc 63 | trimSuffix "-" -}}
{{- end -}}

{{/*
Create db_user
We truncate at 63 chars because some Kubernetes name fields are limited to this (by the DNS naming spec).
{{- define "gitlab-ce.dbUser" -}}
{{- printf "%s" .Values.gitlab-postgresql.postgresUser | trunc 63 | trimSuffix "-" -}}
{{- end -}}

{{/*
Create db
We truncate at 63 chars because some Kubernetes name fields are limited to this (by the DNS naming spec).
{{- define "gitlab-ce.db" -}}
{{- printf "%s" .Values.gitlab-postgresql.postgresDatabase | trunc 63 | trimSuffix "-" -}}
{{- end -}}

*/}}
